.titleProsodie{
    -fx-font-size:60px;
    -fx-fill:#3498db;
    -fx-font-family: "HelveticaNeueLTStd-LtCn";
    
}

.global{
    -fx-background-color: #f9f9f9;
    -fx-padding: 40 0 0 0;
}

.titleInformation{
    -fx-font-size:40;
    -fx-fill:#3498db;
    -fx-start-margin: 30;
    -fx-end-margin: 30;
    -fx-font-family: "HelveticaNeueLTStd-LtCn";
}

.button{
  -fx-width: 100%;
  -fx-cursor:hand;
  -fx-background-color: #3498db;
  -fx-text-fill:#f9f9f9;
  -fx-font-size:24px;
  -fx-transition: all 0.3s;
  -fx-font-weight:700;
  -fx-background-radius: 5;
}
.button:hover{
  -fx-background-color: #f9f9f9;
  -fx-text-fill: #3498db;
  -fx-border-radius: 5;
}
.button:active {
  -fx-top: 1px;
  -fx-outline: none;
  -fx-box-shadow: none;
}

#user {
    -fx-background-color:#f9f9f9;
    -fx-padding: 13 13 13 54;
    -fx-width: 100%;
    -fx-float: left;
    -fx-left: 35%;
    -fx-position: absolute;
    -fx-border-radius: 7px;
    -fx-alignment: CENTER;
    -fx-border-color: #f9f9f9;
    -fx-border-width: 3px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.my_label {
  //-fx-background-color: rgba(72,72,72,0.4);
 // -fx-text-fill:#f9f9f9;
 // -fx-font-family: Helvetica, Arial, sans-serif;
  -fx-font-weight:500;
  -fx-font-size: 24;
  -fx-text-fill:#3498db;
 // -fx-border-radius: 0;
  //-fx-line-height: 22px;
  //-fx-padding: 13 13 13 54;
  //-fx-margin-bottom: 10px;
  //-fx-box-sizing: border-box;
}
.my_label:focus{
  -fx-box-shadow: 0;
  //-fx-border: 3px solid #3498db;
  -fx-outline: none;
  -fx-padding: 13px 13px 13px 54px;
}

.focused{
  -fx-color:#30aed6;
  -fx-border:#30aed6 solid 3px;
}

#language{
    -fx-position: absolute;
    -fx-padding:20; 
    -fx-left: 60%;
    -fx-bottom: 60%;
}
#language{
  -fx-display: none;
}


.Rbutton{
    -fx-text-fill:#3498db;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-margin-right:20px;
    -fx-cursor: hand;
    -fx-font-size: 22;
    -fx-border-radius: 5;
    -fx-height: 12px;
    -fx-margin-bottom: -11px;
    -fx-margin-right: 9px;
    -fx-padding: 8px;
    -fx-position: relative;
    -fx-top: -3px;
    -fx-width: 12px;
}
.Rbutton .dot {
  -fx-mark-highlight-color: #3498db;
  -fx-mark-color: #3498db;

}

.div1{
    -fx-background-color: #f9f9f9;
    -fx-padding: 13 13 13 54;
    -fx-width: 100%;
    -fx-border-radius: 7px;
    -fx-border-color: #3498db;
    -fx-border-width: 3px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
